<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/home.css') }}">
    <title>Library Automation System</title>
</head>

<body>
    {% include 'shared/header.html' %}

    <main>
        <div class="main-contents">
            <h5>Login as ?</h5>
            <div>
            </div>
        </div>
        <div class="info">
            <p>
                The Library Automation System is a project aimed at developing a computerized system to
                automate all the daily tasks of the library with minimal human intervention.
            </p>
        </div>
    </main>
</body>