<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/shared/header.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/admin/admin-home.css') }}">
    <title>Admin Home</title>
</head>

<body>

    <!-- Change refresh rate according the IR sensor  -->
    <script>
        function changeMetaTagForRefresh() {
            if("{{ mode }}" == "DETECTED") {
                document.querySelector("[http-equiv='refresh']").remove();
            }
            if("{{ mode }}" == "NOTDETECTED") {
                var meta = document.createElement('meta');
                meta.httpEquiv = "refresh";
                meta.content = "3";
                document.getElementsByTagName('head')[ 0 ].appendChild(meta);
            }
            else if("{{ mode }}" == "ERRORDETECTED") {
                var meta = document.createElement('meta');
                meta.httpEquiv = "refresh";
                meta.content = "3";
                document.getElementsByTagName('head')[ 0 ].appendChild(meta);
            }
        }
        changeMetaTagForRefresh()
    </script>
    <script defer>
        if("{{ mode }}" == "DETECTED") {
            window.setTimeout(function() {
                // Move to a new location or you can do something else
                window.location.href = "http://192.168.3.56:8080/admin/store-book";
            }, 2000);
        }
    </script>

    <header>
        <div class="header">
            <h1>Admin Home Page</h1>
        </div>
    </header>
    <main class="main-contents">
        <div>
            <h1>
                Interact with IR sensor after placing the book you want to store
            </h1>
        </div>
        <div>
            <h4>
                {{ message[0] }}
            </h4>
            <p>
                {{ message[1] }}
            </p>
        </div>
    </main>
</body>

</html>