<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/admin/halt-page.css') }}">
    <title>Redirecting</title>
</head>

<body>
    <script defer>
        // if("{{ mode }}" == "DETECTED") {
        window.setTimeout(function() {
            // Move to a new location or you can do something else
            window.location.href = "http://192.168.3.56:8080/admin/home";
        }, 2000);
        // }
    </script>

    {% include 'shared/header.html' %}

    <main>
        <div>
            <h2>
                {{ messageText }}
            </h2>
        </div>
        <div>
            {% include 'shared/spinner2.html' %}
        </div>
    </main>

</body>

</html>