<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/admin/store-book_admin.css') }}">
    <title>{{title}}</title>
</head>

<body>
    {% include 'shared/header.html' %}

    <script defer>
        const hideDiv = () => {
            setTimeout(() => {
                const box = document.getElementById('box');
                const backdrop = document.getElementById('backdrop');

                box.style.display = 'none';
                backdrop.style.display = 'none';

            }, 2000); 
        }

        hideDiv()
    </script>

    {% if showBox %}
    <div id="box" class="modal">
        <h1>Warning !</h1>
        <p>Book already exists in a database <br/> Just update the quanity</p>
    </div>
    <div id="backdrop" class="backdrop">
    </div>
    {% endif %}

    <main>
        <div class="form-div">
            <form method="post" action="/admin/store-book-db">
                <div class="inner-form_div">
                    <img src={{image}} />
                </div>
                <div class="inner-form_div">
                    <div>
                        <label>Title</label>
                        <input name="title" id="title" type="text" value="{{title}}" />
                    </div>
                    <div>
                        <label>Description</label>
                        <input name="description" id="description" type="text" value="{{description}}" maxlength="250"/>
                    </div>
                </div>

                <div class="inner-form_div">
                    <div>
                        <label>Image</label>
                        <input name="imageLink" id="imageLink" type="text" value="{{image}}" />
                    </div>
                    <div>
                        <label>Authors</label>
                        <input name="authors" id="authors" type="text" value="{{authors}}" />
                    </div>

                </div>
                <div class="inner-form_div">
                    <div>
                        <label>Page Count</label>
                        <input name="pageCount" id="pageCount" type="number" value="{{pageCount}}" />
                    </div>
                    <div>
                        <label>Language</label>
                        <input name="language" id="language" type="text" value="{{language}}" />
                    </div>

                </div>
                <div class="inner-form_div">
                    <div>
                        <label>{{quantityLabel}}</label>
                        <input name="quantity" id="quantity" type="number" value="{{quantity}}" required />
                    </div>
                </div>
                <div>
                    <input name="isbn" id="isbn" type="hidden" value="{{isbn}}" />
                </div>
                <div class="inner-form_div">
                    <button class="submit_btn" type="submit">Store Book</button>
                </div>
            </form>
        </div>
        <div class="link">
            <a href="/">Home Page</a>
        </div>
    </main>
</body>

</html>