body {
    margin: 0;
    background-color: #0d0c1d;
    color: white
}

a {
    all: unset;
}

.header {
    box-sizing: border-box;
    width: 100vw;
    height: 9vh;
    background-color: #0d0c1d;
    border-bottom: 2px solid #474973;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header>h1 {
    margin: 0;
    color: #cebfd6;
    font-size: 1.8rem;
}