form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    padding: 1.5rem
}

label{
    margin-bottom: 1rem;
    font-size: 1.5rem
}

.form-div{
    color: #a69cac;
    margin:20%;
    margin-top: 5vh;
    border: 0.5px solid #a69cac;
    background-color: #161b33;
    border-radius: 5px;
    height: auto;
    width: 55vw;
}

.inner-form_div:nth-child(1) > img{
    box-shadow: 0px 0px 10px 5px #a69cac;
}

.inner-form_div:nth-child(2){
    margin-top: 3rem;
}

.inner-form_div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100%
} 

.inner-form_div > div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem
} 


.submit_btn {
    margin-top: 2%;
	background-color:#0d0c1d ;
	border: 0.8px solid #cebfd6;
	cursor: pointer;
    box-sizing: border-box;
    border-radius: 45px;
    transition: 1s;
    color: #cebfd6;
    padding: 1rem 4rem 1rem 4rem;
    margin: 0 4rem 0 4rem;
    border-radius: 10px 0 10px 0;
    font-size: 15px;
}

.submit_btn:hover,
.submit_btn:active {
    transition: 0.5s ;
    background-color: #A69CAC;
    border: 1px solid #a69cac;
    color: rgb(46, 45, 45);
    border-radius: 1.5rem 0rem 1.5rem 0;
}