<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/admin/halt-page.css') }}">
    <title>Redirecting</title>
</head>

<body>
    <script defer>
        if("{{ extraButtons }}" != "TRUE"){
        window.setTimeout(function() {
            window.location.href = "{{ redirectLink }}";
        }, 3000);}
    </script>

    {% include 'shared/header.html' %}

    <main>
        <div>
            <h2>
                {{ messageText }}
            </h2>            
            {% if bookImage %}
            <div class="image" >
                <img src="{{bookImage}}" alt="{{bookImage}}"/>
            </div>
            {% endif %} 
            {% if extraButtons == 'TRUE' %}
            <div class="buttons">
                <a href="/admin/home">Add another book</a>
                <a href="/">Return Home</a>
            </div>
            {% endif %}
        </div>
        {% if extraButtons != 'TRUE' %}
        <div>
            {% include 'shared/spinner2.html' %}
            {% include 'shared/footer.html' %}
        </div>
        {% endif %}
    </main>

</body>

</html>